body {
  padding-top: 30px;
  font-family: Helvetica, sans-serif;
}

#header {
  border-bottom: 1px solid #eee;
}

#name {
  text-align: right;
  float: right;
}

#name a{
  color: #000;
}

a {
  color: #33a5c8;
}

#logos {
float: left;
padding-bottom: 10px;
margin-top: 0px;
}

#logos img{
  height: 50px;
}

#bottom{
  padding-top: 20px;
}

#menu {
  min-height: 800px;
  border-right: 1px solid #eee;
  width: 180px;
}
@media (min-width: 1200px) {
  width: 200px;
}
@media (max-width: 979px) and (min-width: 768px) {
  #menu {
    width: 140px;
  }
}
@media (max-width: 768px) {
  #menu {
    min-height: 0px;
    border: none;
    width: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

#menu li.nav-header {
  color: #111;
  font-weight: normal;
  letter-spacing: 2px;
}
#menu li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
#menu li a {
  color: #999;
  text-shadow: none;
}
#menu li.active a {
  background-color: #33a5c8;
  color: #fff;
}

#name h1{
  line-height: normal;
  margin: 0;
  color: #33a5c8;
}

#name h2{
  line-height: normal;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #999;
}

#post h1{
  font-size: 28px;
}

#post h2{
  font-size: 16px; 
}

#post #date {
  line-height: normal;
  margin-top: -10px;
  padding-bottom: 10px;
  font-weight: 300;
  color: #999; 
  font-style: italic;
  letter-spacing: 1px;
  font-size: 12px;
}

#barus {
  width: 350px;
  margin: auto;
  padding: 10px;
  font-size: 12px;
  color: #999;
  text-align: center;
}

#welcome {
  text-align: center;
}

.photo-left {
  float: right;
}

.photo-left img {
  width: 200px;
  margin-top: -50px;
  padding: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.caption {
  display: block;
  text-align: center;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
}
