<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Amrita Mazumdar - DREU Blog{% if page.title }%} - {{page.title}}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="./assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way
      to the bottom of the topbar */ }
    </style>
    <link href="./assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span3">
          <ul id="menu" class="nav nav-list" data-spy="affix">
            <li class="nav-header">ABOUT</li>
            <li data-section=""><a href="/about/me">Me</a></li>
            <li data-section=""><a href="/about/dreu">The Program</a></li>
            <li class="nav-header">WEEKLY LOG</li>
            <li data-section="week/1"><a href="/week/1">Getting Started</a></li>
            <li data-section="week/2"><a href="/week/2">Components</a></li>
            <li class="nav-header">SUPPORT</li>
            <li><a href="mailto:am3210@columbia.edu">Email Me!</a></li>
          </ul>
        </div>
        <div class="span9">
{{content}}
        </div>
      </div>
    </div>

    <style>
      
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
    </script>
    <script src="/assets/js/bootstrap.js">
    </script>

    <script>
      $('#menu [data-section="{{page.section}}"]').addClass('active');
    </script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33987438-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>

